@import "../../global.scss";

#home {
  padding: 40px 0;

  .img-wra {
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 16px;
      box-shadow: $shadow;
    }
  }
}
