@import "../../global.scss";

#room {
  padding: 40px 0;

  .img-wrapper {
    margin-bottom: 25px;

    img {
      width: 100%;
      border-radius: 16px;
      box-shadow: $shadow;
    }
  }

  .text-wrapper {
    @extend .card;
    text-align: center;

    p {
      color: $text-light;
      margin-bottom: 10px;
      font-size: 15px;
    }

    h2 {
      margin-top: 10px;
      font-size: 22px;
      font-weight: 700;
      color: $primary;
    }
  }

  .cta-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;

    a,
    button {
      width: 150px;
      text-align: center;
    }
  }
}
