@import "../../global.scss";

.container {
  padding: 40px 0;

  .form-wrapper {
    @extend .card;
    max-width: 480px;
    margin: auto;

    button {
      width: 100%;
      margin-top: 10px;
    }
  }
}
